.resultList {
  margin-top: 23px;
  border-top: 2px solid black;
}

.resultContainer {
  display: flex;
  justify-content: flex-start;
  width: 420px;
  margin-top: 15px;
  font-size: 18px;
}

.personName {
  margin-left: 5px;
}
